<a name='0'></a>
# A Quick Intro to Python for Machine Learning

Welcome to the first lab, a quick introduction to Python programming. This lab will provide the basic things you need to know about Python, if this is your first time using it, or it's been long since you learnt it. 

You may find yourself coming back to revisit the basics. That's okay, we all do! 

This intro lab will cover the following:

* [1. Variables, Numbers and Strings](#1)
    * [1.1 Numbers](#1-1)
    * [1.2 Strings](#1-2)
* [2. Data Structures](#2)
    * [2.1 Lists](#2-1)
    * [2.2 Dictionaries](#2-2)
    * [2.3 Tuples](#2-3)
    * [2.4 Sets](#2-4)
* [3. Comparison and Logic Operators](#3)
* [4. Control Flow](#4)
    * [4.1 If Condition](#4-1)
    * [4.2 For Loop](#4-2)
    * [4.3 While Loop](#4-3)
* [5. Functions](#5)
* [6. Lambda Functions](#6)
* [7. Built in functions](#7)
    * [7.1 Map Function](#7-1)
    * [7.2 Filter Function](#7-2)

* [8. Control Flow](#8)
    * [8.1 List Comprehension](#8-1)
    * [8.2 Enumerate Function](#8-2)
    * [8.3 Zip Function](#8-3)

<a name='1'></a>

## 1. Variables, Numbers, and Strings

***Quick Notes:***

* `A Variable` is a location in memory where we store the data. 

* `A variable` can be `integer`, `float`, or a `string`.  

* We can use `type(variable_name)` to find the type of given `variable_name`.

* In Python, we use `#` to add `comments`. Comments do not change anything and are not compiled.

* We also use `=` to assign a value to the name of variable. Example: `var_name = 1`. Be ware that it's different to comparison operator of equal to (`==`). 
* We can use `print()` to display the value of variable or the results of any expression.

* Each line of the code start on the new line.
* Be aware of indentations. Python is serious about them.

In [130]:
#### EXAMPLE OF CREATING A VARIABLE ####

# You use # to add comment, it wonâ€™t run or affect the code
# You use = to assign a value to the name of the variable. 
# Each code starts on the new line. No semicolon or {}

var_name = 1
str_var2 = 'Hundred'

<a name='1-1'></a>

### 1.1 Numbers

Numbers in Python can either be integers `int` or floats `float`. Integer numbers are all numbers without any decimal. Take an example: `1`,`2`,`3`,`4` are integers. But `4.6`, `6.0`, `7.7` are floats.

In [131]:
int_var = 10
float_var = 12.8

type(int_var)

int

In [132]:
type(float_var)

float

In [133]:
# Numeric Operations 

# Addition

1 + 100

101

In [134]:
# Multiplication

1 * 100

100

In [135]:
# Division

1 / 100

0.01

In [136]:
# Modular (%)
# This is the remainder or a value remaining after dividing two numbers
# 100 / 1 = 100, remainder is 0

100 % 1

0

In [137]:
1 % 100

1

In [138]:
10 % 2

0

In [139]:
# Powers
# 1 power any number is 1 always

1 ** 100

1

In [140]:
2 ** 2

4

In [141]:
# We use print() to display the results of the operations or a variable

print(1 + 100)

101

<a name='1-2'></a>

### 1.2 Strings

Python supports strings. Strings are expressed in either `"..."` or `'...'`.


```
"text inside here will be a string"
'text inside here will also be a string'
```

We can manipulate strings in many ways. A quick example is to concat the strings to make them one.

In [142]:
str_var = 'One'
str_var2 = 'Hundred'

In [143]:
str_var + str_var2

'OneHundred'

In [144]:
str_var + ' ' + 'and' + ' '+ str_var2+ '.'

'One and Hundred.'

In [145]:
## We can use print() to display a string

print(" This is a string")

 This is a string

#### Strings Methods

Python offers whole range of strings methods which can be used for different purpose from toggling between lower and upper cases, splitting the string, etc...

As a programmer, methods will give you extra leverages such as lowering the string cases by only saying `string_name.lower()`.

Let's see some of the useful methods that you will need often.

In [146]:
sentence = 'This is a String'

In [147]:
# Case capitalization 
# It return the string with first letter capitalized and the rest being lower cases. 

sentence.capitalize()

'This is a string'

In [148]:
# Given a string, convert it into title (each word is capitalized)

another_sentence = 'this is a string to be titled'
another_sentence.title()

'This Is A String To Be Titled'

In [149]:
# Converting the string to upper case

sentence.upper()

'THIS IS A STRING'

In [150]:
# Converting the string to upper case

sentence.lower()

'this is a string'

In [151]:
# Splitting the string

sentence.split()

['This', 'is', 'a', 'String']

<a name='2'></a>
## 2. Data Structures

Data Structures are used to organize the data. 

Python data structures: `Lists`, `Dictionaries`, `Tuples` and `Sets`.

<a name='2-1'></a>

### 2.1 List

In [152]:
# Example of list  ####

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
even_numbers = [2,4,6,8,10]
mixed_list = ['Mon', 1, 'Tue', 2, 'Wed', 3]

In [153]:
#### Accessing the elements of the list

week_days[0]

'Mon'

In [154]:
print(even_numbers[2])

6

In [155]:
print(even_numbers[-1])

10

In [156]:
# Slicing the list

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
week_days[0:2]

['Mon', 'Tue']

In [157]:
week_days[-4:]

# -1 starts at 'Fri', -2 to `Thur'..... -4 to 'Tue'

['Tue', 'Wed', 'Thur', 'Fri']

In [158]:
# Updating the value of the list

even_numbers = [2,4,6,8,10]

# Change the value at index or position 3 (position starts at 0) to 12
even_numbers[3] = 12


even_numbers

[2, 4, 6, 12, 10]

In [159]:
even_numbers[2:4] = [16,20]
even_numbers

[2, 4, 16, 20, 10]

In [160]:
# Adding the new elements in list

odd_numbers = [1,3,5,7,9]
odd_numbers = [1,3,5,7,9]
odd_numbers.append(11)
odd_numbers.append(13)

odd_numbers

[1, 3, 5, 7, 9, 11, 13]

In [161]:
## Concatenating two lists

a = [1,2,3]
b = [4,5,6]
c = a + b

c

[1, 2, 3, 4, 5, 6]

In [162]:
# Nesting a list in other list

nested_list = [1,2,3, ['a', 'b', 'c']]

nested_list[3]

['a', 'b', 'c']

In [163]:
# Calculating the length of the list

odd_numbers = [1,3,5,7,9]
len(odd_numbers)

5

#### List Methods

Python also offers methods which make it easy to work with lists. Let's some of the methods you will need often.

In [164]:
# Sorting a list

even_numbers = [2,14,16,12,20,8,10]

even_numbers.sort()

even_numbers

[2, 8, 10, 12, 14, 16, 20]

In [165]:
# Reversing a string

even_numbers.reverse()
even_numbers

[20, 16, 14, 12, 10, 8, 2]

In [166]:
# Adding other elements to a list

even_numbers = [2,14,16,12,20,8,10]

even_numbers.append(40)
even_numbers

[2, 14, 16, 12, 20, 8, 10, 40]

In [167]:
# Removing the first element of a list

even_numbers.remove(2)
even_numbers

[14, 16, 12, 20, 8, 10, 40]

In [168]:
## Return the element of the list at index x

even_numbers = [2,14,16,12,20,8,10]

## Return the item at the 1st index

even_numbers.pop(1)

14

In [169]:
# pop() without index specified will return the last element of the list

even_numbers = [2,14,16,12,20,8,10]
even_numbers.pop()

10

In [170]:
# Count a number of times an element appear in a list

even_numbers = [2,2,4,6,8]
even_numbers.count(2)

2

That's it for the list. Next, we will look into the dictionaries which is another important data structure.

<a name='2-2'></a>

### 2.2 Dictionaries

Dictionary stores keys and values.

In [171]:
# Example of Dictionary

# Countries codes: https://countrycode.org

countries_code = { "United States": 1,
                 "India": 91,
                 "Germany": 49,
                 "China": 86,
                 "Rwanda":250
            }

In [172]:
countries_code

{'China': 86, 'Germany': 49, 'India': 91, 'Rwanda': 250, 'United States': 1}

In [173]:
countries_code.items()

dict_items([('United States', 1), ('India', 91), ('Germany', 49), ('China', 86), ('Rwanda', 250)])

In [174]:
countries_code.keys()

dict_keys(['United States', 'India', 'Germany', 'China', 'Rwanda'])

In [175]:
countries_code.values()

dict_values([1, 91, 49, 86, 250])

In [176]:
countries_code['India']

91

In [177]:
countries_code['Rwanda']

250

In [178]:
# Adding new country and code

countries_code['Cuba'] = 53

countries_code

{'China': 86,
 'Cuba': 53,
 'Germany': 49,
 'India': 91,
 'Rwanda': 250,
 'United States': 1}

***Notes on Dictionary***

* Dictionary are not ordered and it can not be sorted - which is different to list. 

* Dictionary can hold data of different types: floats, integers and strings and can also store lists.

<a name='2-3'></a>

### 2.3 Tuples

Tuple is similar to list but the difference is that you can't change the values once it is defined (termed as `immutability`). Due to this property it can be used to keep things that you do not want to change in your program. Example can be a country codes, zipcodes, etc...

In [179]:
tup = (1,4,5,6,7,8)

In [180]:
# Indexing

tup[4]

7

In [181]:
## Tuples are not changeable. Running below code will cause an error

# tup[2] = 10

In [182]:
# You can not also add other values to the tuple. This will be error
#tup.append(12)

<a name='2-4'></a>

### 2.4 Sets

Sets are used to store the unique elements. They are not ordered like list.

In [183]:
set_1 = {1,2,3,4,5,6,7,8}

set_1

{1, 2, 3, 4, 5, 6, 7, 8}

In [184]:
set_2 = {1,1,2,3,5,3,2,2,4,5,7,8,8,5}
set_2

{1, 2, 3, 4, 5, 7, 8}

As you can see, set only keep unique values. There can't be a repetition of values.

In [185]:
# List Vs Set

odd_numbers = [1,1,3,7,9,3,5,7,9,9]

print("List:{}".format(odd_numbers))

print("#####")

set_odd_numbers = {1,1,3,7,9,3,5,7,9,9}

print("Set:{}".format(set_odd_numbers))

List:[1, 1, 3, 7, 9, 3, 5, 7, 9, 9]
#####
Set:{1, 3, 5, 7, 9}

<a name='3'></a>

## 3. Comparison and Logic operators

`Comparison` operators are used to compare values. It will either return true or false.

In [186]:
## Greater than 
100 > 1

True

In [187]:
## Equal to

100 == 1

False

In [188]:
## Less than

100 < 1

False

In [189]:
## Greater or equal to

100 >= 1

True

In [190]:
## Less or equal to

100 <= 1

False

In [191]:
'Intro to Python' == 'intro to python'

False

In [192]:
'Intro to Python' == 'Intro to Python'

True

`Logic` operators are used to compare two expressions made by comparison operators. 

* Logic `and` returns true only when both expressions are true, otherwise false. 

* Logic `or` returns true when either any of both expressions is true. Only false if both expressions are false.

* Logic `not` as you can guess, it will return false when given expression is true, vice versa.

In [193]:
100 == 100 and 100 == 100

True

In [194]:
100 <= 10 and 100 == 100

False

In [195]:
100 == 10 or 100 == 100

True

In [196]:
100 == 10 or 100 == 10

False

In [197]:
not 1 == 2

True

In [198]:
not 1 == 1

False

<a name='4'></a>
## 4. Control Flow
As an engineer, you will need to make decisions depending on the particular situation. You will also need to control the flow of the program and this is where `Control Flow` comes in. 

We will cover:

* If statement
* For loop
* While loop

<a name='4-1'></a>

### 4.1 If, Elif, Else



Structure of If condition:

```
if condition:
  do something

else:
  do this
```

In [199]:
if 100 < 2:

  print("As expected, no thing will be displayed")

In [200]:
if 100 > 2:

  print("As expected, no thing will be displayed")

As expected, no thing will be displayed

In [201]:
if 100 < 2:

  print("As expected, no thing will be displayed")

else:
  print('Printed')

Printed

In [202]:
# Let's assign a number to a variable name 'jean_age' and 'yannick_age'

john_age = 30
luck_age = 20

if john_age > luck_age:
  print("John is older than Luck")

else:
  print(" John is younger than Luck")

John is older than Luck

In [203]:
# Let's use multiple conditions 

john_age = 30
luck_age = 20
yan_age = 30

if john_age < luck_age:
  print("John is older than Luck")

elif yan_age == luck_age:
  print(" Yan's Age is same as Luck")

elif luck_age > john_age:
  print("Luck is older than John")

else:
  print("John's age is same as Yan")

John's age is same as Yan

We can also put if condition into one line of code. This can be useful when you want to make a quick decision between few choices. 

Here is the structure:

`'value_to_return_if_true' if condition else 'value_to_return_if_false'`

Let's take some examples...

In [204]:
# Example 1: Return 'Even' if below num is 'Even' and `Odd` if not. 

num = 45

'Even' if num % 2 == 0 else 'Odd'

'Odd'

In [205]:
# Example 2: Return True if a given element is in a list and False if not

nums = [1,2,3,4,5,6]

True if 3 in nums else False

True

<a name='4-2'></a>
### 4.2 For Loop

For loop is used to iterate over list, string, tuples, or dictionary. 

Structure of for loop:

```
for item in items:
  do something
```

In [206]:
even_nums = [2,4,6,8,10]

for num in even_nums:
  print(num)

2
4
6
8
10

In [207]:
week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']

for day in week_days:
  print(day)

Mon
Tue
Wed
Thur
Fri

In [208]:
sentence = "It's been a long time learning Python. I am revisiting the basics!!"

for letter in sentence:
  print(letter)

I
t
'
s

b
e
e
n

a

l
o
n
g

t
i
m
e

l
e
a
r
n
i
n
g

P
y
t
h
o
n
.

I

a
m

r
e
v
i
s
i
t
i
n
g

t
h
e

b
a
s
i
c
s
!
!

In [209]:
sentence = "It's been a long time learning Python. I am revisiting the basics!!"

# split is a string method to split the words making the string

for letter in sentence.split():
  print(letter)

It's
been
a
long
time
learning
Python.
I
am
revisiting
the
basics!!

In [210]:
# For loop in dictionary 

countries_code = { "United States": 1,
                 "India": 91,
                 "Germany": 49,
                 "China": 86,
                 "Rwanda":250
            }

for country in countries_code:
  print(country)

United States
India
Germany
China
Rwanda

In [211]:
for code in countries_code.values():
  print(code)

1
91
49
86
250

For can also be used to iterate over an sequence of numbers. `Range` is used to generate the sequence of numbers. 



```
for number in range: 
  do something
```

In [212]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [213]:
for number in range(10, 20):
  print(number)

10
11
12
13
14
15
16
17
18
19

One last thing about `for loop` is that we can use it to make a list. This is called list comprehension.

In [214]:
letters = []

for letter in 'MachineLearning':
  letters.append(letter)

letters

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

The above code can be simplified to the following code:

In [215]:
letters = [letter for letter in 'MachineLearning']

letters

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

<a name='4-3'></a>

### 4.3 While loop

While loop will executes the statement(s) as long as the condition is true.

Structure of while loop



```
while condition:
  statement(s)
```

In [216]:
a = 10
while a < 20:
    print('a is: {}'.format(a))
    a = a + 1

a is: 10
a is: 11
a is: 12
a is: 13
a is: 14
a is: 15
a is: 16
a is: 17
a is: 18
a is: 19

<a name='5'></a>

## 5. Functions

Functions are used to write codes or statements that can be used multiple times with different parameters. 

One fundamental rule in programming is "DRY" or Do not Repeat Yourself. Functions will help to not repeat yourself. 

This is how you define a function in Python:

```
def function_name(parameters):

  """
  This is Doc String
  You can use it to notes about the functions
  """
  statements 

  return results
```
* `function_name` is the name of the function. It must not be similar to any built in functions. We will see built in functions later. 
* `parameters` are the values that are passed to the function.
* `Doc String` is used to add notes about the function. It is not a must to use it but it is a `good practice`. 

* `return` specify something or value that you want to return everytime you call or run your function.

In [217]:
# Function to add two numbers and return a sum

def add_nums(a,b):

  """
  Function to add two numbers given as inputs
  It will return a sum of these two numbers
  """

  sum = a+b
  
  return sum

In [218]:
add_nums(2,4)

6

In [219]:
add_nums(4,5)

9

In [220]:
# Displaying the doc string noted early

print(add_nums.__doc__)

  Function to add two numbers given as inputs
  It will return a sum of these two numbers

In [221]:
def activity(name_1, name_2):

  print("{} and {} are playing basketball!".format(name_1, name_2))

In [222]:
activity("Chris", "Francois")

Chris and Francois are playing basketball!

In [223]:
activity("Kennedy", "Kleber")

Kennedy and Kleber are playing basketball!

As you can see, functions do not need to always have `return`. When you only want to display the customized message (not involving expression), `print()` will be enough.

<a name='6'></a>

## 6. Lamdba Functions

There are times that you want to create anonymous functions. These types of functions will only need to have one expressions.

In [224]:
## Sum of two numbers 

def add_nums(a,b):

  sum = a+b
  
  return sum

add_nums(1,3)

4

We can use lambda to make the same function in just one line of code! Let's do it!!

In [225]:
sum_of_two_nums = lambda c,d: c + d

sum_of_two_nums(4,5)

9

## <a name='7'></a>

## 7. Built in Functions

Python being a high level programming language, it has bunch of built in functions which make it easy to get quick computations done. 

An example of built in functions we used is `len()` which gives the length of the string or the list given as the input to it. 

Here is a full preview on all [Python Built in functions](https://docs.python.org/3/library/functions.html). This is taken from that link. 

![Py Built in Functions]()

In [226]:
# using len() to count the length of the string

message = 'Do not give up!'
len(message)

15

In [227]:
odd_numbers = [1,3,5,7]
len(odd_numbers)

4

In [228]:
# Using max() to find the maximum number in a list

odd_numbers = [1,3,5,7]
max(odd_numbers)

7

In [229]:
# Using min() to find the minimum number in a list

min(odd_numbers)

1

In [230]:
# Sorting the list with sorted()

odd_numbers = [9,7,3,5,11,13,15,1]

sorted(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15]

Let's learn two more useful built functions: they are `map` and `filter`. You can try to explore or use more built in functions on your own.

<a name='7-1'></a>

### 7.1 Map function 

Map gives you the ability to apply a function to an iterable structures such as list. When used with a list for example, you can apply the function to every element of the list. 

Let's see how it works.

In [231]:
def cubic(number):
  return number ** 3

In [232]:
num_list = [0,1,2,3,4]

In [233]:
# Applying `map` to the num_list to just return the list where each element is cubed...(xxx3)

list(map(cubic, num_list))

[0, 1, 8, 27, 64]

<a name='7-2'></a>

### 7.2 Filter function

Let's say that you have a list of numbers and you want to filter the list and remain with odd numbers. Odd number is any number which can not be divided by 2. 

You can develop a function to calculate it but you would have to always pass single value or values but not entire list. 

Using `filter`, you can return `true` for every element of list evaluated by the function.

In [234]:
def odd_check(number):
  
  return number % 2 != 0 

# != is not equal to operation

In [235]:
num_list = [1,2,4,5,6,7,8,9,10,11]

list(filter(odd_check, num_list))

[1, 5, 7, 9, 11]

<a name='8'></a>

## 8. More Useful Python Functions

Python is an awesome programming language that has a lot of useful functions.

Let's see more useful things you may need beyond what's we just saw already.

### 8.1 List Comprehension

List comprehension makes it easy to make a new list from an existing list based on a given conditions. It's very concise and readable.

Take an example for the following cases.

In [236]:
# Given a list of numbers, can you make a new list of even numbers from the list nums?
# Even numbers are numbers divisible by 2, and they give the remainder of 0

nums = range(1,20)
even_nums = []


# A traditional way to do it is:

for num in nums: 
  if num % 2 == 0: 
    even_nums.append(num)

print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

A more concise and easy way to do that is to use list comprehension.

In [237]:
even_nums = [num for num in nums if num % 2 == 0]
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

You can see it's pretty simple. And more readable than the former. Let's take another example.

In [238]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
day_T = []

# Make a list of days that start with `T`

for day in days: 
  if day[0] == 'T':
    day_T.append(day)

print(day_T)

['Tuesday', 'Thursday']

A more concise way to do it would be:

In [239]:
day_T = [day for day in days if day[0] == 'T']
print(day_T)

['Tuesday', 'Thursday']

### 8.2 Enumerate Function

Enumerate function convert iterable objects into enumerate object. It basically returns a tuple that also contain a counter. 

That's sounds hard, but with examples, you can see how powerful this function is...

In [240]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

As you can see, each element came with index counter automatically. The counter initially start at 0, but we can change it.

In [241]:
list(enumerate(seasons, start=1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

Here is another example:

In [242]:
class_names = ['Rock', 'Paper', 'Scissor']

for index, class_name in enumerate(class_names, start=0):
  print(index,'-',class_name)

0 - Rock
1 - Paper
2 - Scissor

### 8.3 Zip Function

Zip is an incredible function that takes two iterators and returns a pair of corresponsing elements as a tuple.

In [243]:
name = ['Jessy', 'Joe', 'Jeannette']
role = ['ML Engineer', 'Web Developer', 'Data Engineer']

zipped_name_role = zip(name, role)
zipped_name_role

The zip object return nothing. In order to show the zipped elements, we can use a list. It's also same thing for enumerate you saw above.

In [244]:
list(zipped_name_role)

[('Jessy', 'ML Engineer'),
 ('Joe', 'Web Developer'),
 ('Jeannette', 'Data Engineer')]

*This is the end of the lab. The basics of the programming are always good to have, and hopefully this single notebook provided all the necessary things to know about Python.*

## [BACK TO TOP](#0)